[submodule "boringssl"]
	path = boringssl
	url = https://github.com/telematixsw/boringssl.git

[submodule "pyca.cryptography"]
	path = pyca-cryptography
	url = https://github.com/telematixsw/cryptography.git

[submodule "wycheproof"]
	path = wycheproof
	url = https://github.com/google/wycheproof

[submodule "krb5"]
	path = krb5
	url = https://github.com/telematixsw/krb5.git
